# Maven output
/target/

# VSCode
.vscode/

# Logs
*.log

# Java class files
*.class

# JAR files
*.jar               

# IntelliJ files
*.iml
.idea/

#Allure results directory
/allure-results
/allure-report

